In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('spam.csv', encoding='latin-1')

In [3]:
#replace null values with null strings
mail_data = data.where((pd.notnull(data)), ' ')

In [4]:
mail_data.shape

(5572, 5)

In [5]:
mail_data.head()

     v1  ... Unnamed: 4
0   ham  ...
1   ham  ...
2  spam  ...
3   ham  ...
4   ham  ...

[5 rows x 5 columns]

In [6]:
mail_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  5572 non-null   object
 3   Unnamed: 3  5572 non-null   object
 4   Unnamed: 4  5572 non-null   object
dtypes: object(5)
memory usage: 217.8+ KB

In [7]:
# drop last 3 cols
mail_data.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [8]:
mail_data.sample(5)

       v1                                                 v2
1288  ham                           Happy new year to u too!
5333  ham  Neither [in sterm voice] - i'm studying. All f...
4135  ham                 have you ever had one foot before?
4469  ham  Lemme know when I can swing by and pick up, I'...
2882  ham                        Anything lor is she coming?

In [9]:
mail_data.loc[mail_data['v1']=='spam', 'v1'] = 0
mail_data.loc[mail_data['v1']=='ham', 'v1'] = 1

In [10]:
#seperate data text and label
X = mail_data['v2']
Y = mail_data['v1']

In [11]:
#split into train test
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=0.8, test_size=0.2, random_state=3)

Feature Extraction

In [14]:
#transform the text data to feature vectors that can be used as input to the SVM model using Tfidfvectorizer
#convert the text to lower case letters
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [15]:
#convert Y_train and Y_test values in integers
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

Model Trainong - SVM

In [16]:
#Training the model SVM 
model = LinearSVC()
model.fit(X_train_features, Y_train)

LinearSVC()

Model Evaluation

In [18]:
#prediction on training data
pred_on_train = model.predict(X_train_features)
accuracy_on_train = accuracy_score(Y_train, pred_on_train)
print("Accuracy on Train Data: ", accuracy_on_train)

Accuracy on Train Data:  0.9995512676688355

In [20]:
#prediction on test data
pred_on_test = model.predict(X_test_features)
accuracy_on_test = accuracy_score(Y_test, pred_on_test)
print("Accuracy on Test Data: ", accuracy_on_test)

Accuracy on Test Data:  0.9856502242152466

In [25]:
#prediction on new model
input = ["07732584351 - Rodger Burns - MSG = We tried to call you re your reply to our sms for a free nokia mobile + free camcorder. Please call now 08000930705 for delivery tomorrow,,,"]
#convert text to feature vectors
input_features = feature_extraction.transform(input)
#making prediction
prediction = model .predict(input_features)
print(prediction)
if(prediction[0] == 1):
  print("HAM")
else:
  print("SPAM")

[0]
SPAM

In [26]:
import pickle

In [29]:
pickle.dump(data,open('spam.pkl','wb'))