In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
#Check whether given website allows web scraping or not, If out 200 then good to go
r=requests.get("https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating")

r.status_code

200

In [15]:
import pandas as pd
import numpy as np

In [16]:
url = 'https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [25]:
movie_name = []
year = []
time = []
ratings = []
metascore = []
gross = []
votes = []
description = []

In [26]:
movie_data = soup.find_all('div', attrs = {'class': 'lister-item mode-advanced'})

In [20]:
#movie_data

In [35]:
for stored in movie_data:
  name = stored.h3.a.text
  movie_name.append(name)

  y = stored.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
  year.append(y)
    
  runtime = stored.p.find('span', class_ = 'runtime').text.replace(' min', '')
  time.append(runtime)
    
  rate = stored.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n', '')
  ratings.append(rate)
    
  meta  = stored.find('span', class_ = 'metascore').text.replace(' ', '') if stored.find('span', class_ = 'metascore') else '#####'
  metascore.append(meta)
  #since, gross and votes have same attributes, so created a common variable and then used indexing
  value = stored.find_all('span', attrs = {'name': 'nv'})
    
  vote = value[0].text
  votes.append(vote)
    
  grosses = value[1].text if len(value) >1 else '*****'
  gross.append(grosses)

  describe = stored.find_all('p', class_ = 'text-muted')
  description_ = describe[1].text.replace('\n', '') if len(describe) >1 else '*****'
  description.append(description_)

In [48]:
#creating dataframe 
a ={'Name of movie': movie_name, 'Year of release': year, 'Watchtime': time, 'Movie Rating': ratings, 'Metascore': metascore, 'Votes': votes, 'Gross collection': gross, 'Description': description}
df = pd.DataFrame.from_dict(a, orient='index')
df = df.transpose()

In [49]:
df

                 Name of movie  ...                                        Description
0     The Shawshank Redemption  ...  Two imprisoned men bond over a number of years...
1                The Godfather  ...  An organized crime dynasty's aging patriarch t...
2              Soorarai Pottru  ...  Nedumaaran Rajangam "Maara" sets out to make t...
3              The Dark Knight  ...  When the menace known as the Joker wreaks havo...
4       The Godfather: Part II  ...  The early life and career of Vito Corleone in ...
..                         ...  ...                                                ...
301               A Separation  ...  After his family was brutally murdered and his...
302                  Incendies  ...  A man refuses all assistance from his daughter...
303  Demon Slayer: Mugen Train  ...  The family of a left-wing journalist is torn a...
304                 The Father  ...                                               None
305       My Father and My Son  ...                                               None

[306 rows x 8 columns]

In [50]:
#change to csv
df.to_csv('movies.csv')

In [51]:
data = pd.read_csv('movies.csv')
data.shape

(306, 9)

In [52]:
#save dataframe to sql database
import sqlite3

In [53]:
conn = sqlite3.connect('TestDB.db')
c = conn.cursor()

In [64]:
c.execute('CREATE TABLE IF NOT EXISTS movies (Name of movie, Year of release, Watchtime, Movie Rating, Metascore, Vote, Gross collection, Description)')
conn.commit()

In [65]:
data.to_sql('movies', conn, if_exists = 'replace', index = False)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:2615: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [66]:
c.execute('''SELECT * FROM movies''')

In [67]:
for row in c.fetchall():
  print(row)

(0, 'The Shawshank Redemption', '1994', 142, 9.3, '80', '2,459,710', '$28.34M', 'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.')
(1, 'The Godfather', '1972', 175, 9.2, '100', '1,701,585', '$134.97M', "An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.")
(2, 'Soorarai Pottru', '2020', 153, 9.1, '#####', '89,663', '*****', 'Nedumaaran Rajangam "Maara" sets out to make the common man fly and in the process takes on the world\'s most capital intensive industry and several enemies who stand in his way.')
(3, 'The Dark Knight', '2008', 152, 9.0, '84', '2,415,236', '$534.86M', 'When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.')
(4, 'The Godfather: Part II', '1974', 202, 9.0, '90', '1,181,867', '$57.30M', 'The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.')
(5, '12 Angry Men', '1957', 96, 9.0, '96', '728,178', '$4.36M', 'A jury holdout attempts to prevent a miscarriage of justice by forcing his colleagues to reconsider the evidence.')
(6, 'Dara of Jasenovac', '2020', 130, 8.9, '#####', '79,185', '*****', 'Follows the story of a young girl named Dara who is sent to a concentration camp in Croatia during World War 2.')
(7, 'The Lord of the Rings: The Return of the King', '2003', 201, 8.9, '94', '1,707,354', '$377.85M', "Gandalf and Aragorn lead the World of Men against Sauron's army to draw his gaze from Frodo and Sam as they approach Mount Doom with the One Ring.")
(8, 'Pulp Fiction', '1994', 154, 8.9, '94', '1,905,606', '$107.93M', 'The lives of two mob hitmen, a boxer, a gangster and his wife, and a pair of diner bandits intertwine in four tales of violence and redemption.')
(9, "Schindler's List", '1993', 195, 8.9, '94', '1,264,630', '$96.90M', 'In German-occupied Poland during World War II, industrialist Oskar Schindler gradually becomes concerned for his Jewish workforce after witnessing their persecution by the Nazis.')
(10, 'Inception', '2010', 148, 8.8, '74', '2,166,798', '$292.58M', 'A thief who steals corporate secrets through the use of dream-sharing technology is given the inverse task of planting an idea into the mind of a C.E.O.')
(11, 'Shershaah', '2021', 135, 8.8, '#####', '99,519', '*****', 'This is a story of a PVC awardee brave Indian soldier - Capt. Vikram Batra, who shot to fame and became a household name during the Kargil War in 1999. His indomitable spirit and his unflinching courage in chasing the Pakistani soldiers out of Indian territory contributed immensely in India finally winning the Kargil War in 1999.')
(12, 'Fight Club', '1999', 139, 8.8, '66', '1,937,371', '$37.03M', 'An insomniac office worker and a devil-may-care soap maker form an underground fight club that evolves into much more.')
(13, 'The Lord of the Rings: The Fellowship of the Ring', '2001', 178, 8.8, '92', '1,728,637', '$315.54M', 'A meek Hobbit from the Shire and eight companions set out on a journey to destroy the powerful One Ring and save Middle-earth from the Dark Lord Sauron.')
(14, 'Forrest Gump', '1994', 142, 8.8, '82', '1,901,775', '$330.25M', 'The presidencies of Kennedy and Johnson, the Vietnam War, the Watergate scandal and other historical events unfold from the perspective of an Alabama man with an IQ of 75, whose only desire is to be reunited with his childhood sweetheart.')
(15, 'The Good, the Bad and the Ugly', '1966', 178, 8.8, '90', '716,763', '$6.10M', 'A bounty hunting scam joins two men in an uneasy alliance against a third in a race to find a fortune in gold buried in a remote cemetery.')
(16, 'The Lord of the Rings: The Two Towers', '2002', 179, 8.7, '87', '1,543,603', '$342.55M', "While Frodo and Sam edge closer to Mordor with the help of the shifty Gollum, the divided fellowship makes a stand against Sauron's new ally, Saruman, and his hordes of Isengard.")
(17, 'The Matrix', '1999', 136, 8.7, '73', '1,752,637', '$171.48M', 'When a beautiful stranger leads computer hacker Neo to a forbidding underworld, he discovers the shocking truth--the life he knows is the elaborate deception of an evil cyber-intelligence.')
(18, 'Goodfellas', '1990', 146, 8.7, '90', '1,068,160', '$46.84M', 'The story of Henry Hill and his life in the mob, covering his relationship with his wife Karen Hill and his mob partners Jimmy Conway and Tommy DeVito in the Italian-American crime syndicate.')
(19, 'Star Wars: Episode V - The Empire Strikes Back', '1980', 124, 8.7, '82', '1,203,524', '$290.48M', 'After the Rebels are brutally overpowered by the Empire on the ice planet Hoth, Luke Skywalker begins Jedi training with Yoda, while his friends are pursued across the galaxy by Darth Vader and bounty hunter Boba Fett.')
(20, "One Flew Over the Cuckoo's Nest", '1975', 133, 8.7, '84', '952,827', '$112.00M', 'A criminal pleads insanity and is admitted to a mental institution, where he rebels against the oppressive nurse and rallies up the scared patients.')
(21, 'Parasite', '2019', 132, 8.6, '96', '656,889', '$53.37M', 'Greed and class discrimination threaten the newly formed symbiotic relationship between the wealthy Park family and the destitute Kim clan.')
(22, 'Drishyam 2', '2021', 152, 8.6, '#####', '30,600', '*****', 'A gripping tale of an investigation and a family which is threatened by it. Will Georgekutty be able to protect his family this time?')
(23, 'Interstellar', '2014', 169, 8.6, '74', '1,611,310', '$188.02M', "A team of explorers travel through a wormhole in space in an attempt to ensure humanity's survival.")
(24, 'City of God', '2002', 130, 8.6, '79', '721,114', '$7.56M', "In the slums of Rio, two kids' paths diverge as one struggles to become a photographer and the other a kingpin.")
(25, 'Spirited Away', '2001', 125, 8.6, '96', '692,157', '$10.06M', "During her family's move to the suburbs, a sullen 10-year-old girl wanders into a world ruled by gods, witches, and spirits, and where humans are changed into beasts.")
(26, 'Saving Private Ryan', '1998', 169, 8.6, '91', '1,290,084', '$216.54M', 'Following the Normandy Landings, a group of U.S. soldiers go behind enemy lines to retrieve a paratrooper whose brothers have been killed in action.')
(27, 'The Green Mile', '1999', 189, 8.6, '61', '1,201,609', '$136.80M', 'The lives of guards on Death Row are affected by one of their charges: a black man accused of child murder and rape, yet who has a mysterious gift.')
(28, 'Life Is Beautiful', '1997', 116, 8.6, '59', '651,072', '$57.60M', 'When an open-minded Jewish librarian and his son become victims of the Holocaust, he uses a perfect mixture of will, humor, and imagination to protect his son from the dangers around their camp.')
(29, 'Se7en', '1995', 127, 8.6, '65', '1,514,011', '$100.13M', 'Two detectives, a rookie and a veteran, hunt a serial killer who uses the seven deadly sins as his motives.')
(30, 'The Silence of the Lambs', '1991', 118, 8.6, '85', '1,329,659', '$130.74M', 'A young F.B.I. cadet must receive the help of an incarcerated and manipulative cannibal killer to help catch another serial killer, a madman who skins his victims.')
(31, 'Star Wars: Episode IV - A New Hope', '1977', 121, 8.6, '90', '1,275,371', '$322.74M', "Luke Skywalker joins forces with a Jedi Knight, a cocky pilot, a Wookiee and two droids to save the galaxy from the Empire's world-destroying battle station, while also attempting to rescue Princess Leia from the mysterious Darth Vader.")
(32, 'Hara-Kiri', '1962', 133, 8.6, '85', '48,837', '*****', "When a ronin requesting seppuku at a feudal lord's palace is told of the brutal suicide of another ronin who previously visited, he reveals how their pasts are intertwined - and in doing so challenges the clan's integrity.")
(33, 'Seven Samurai', '1954', 207, 8.6, '98', '328,479', '$0.27M', 'A poor village under attack by bandits recruits seven unemployed samurai to help them defend themselves.')
(34, "It's a Wonderful Life", '1946', 130, 8.6, '89', '421,866', '*****', 'An angel is sent from Heaven to help a desperately frustrated businessman by showing him what life would have been like if he had never existed.')
(35, 'Raatchasan', '2018', 170, 8.5, '#####', '34,620', '*****', 'A sub-inspector sets out in pursuit of a mysterious serial killer who targets teen school girls and murders them brutally.')
(36, 'Whiplash', '2014', 106, 8.5, '88', '761,768', '$13.09M', "A promising young drummer enrolls at a cut-throat music conservatory where his dreams of greatness are mentored by an instructor who will stop at nothing to realize a student's potential.")
(37, 'The Intouchables', '2011', 112, 8.5, '57', '795,483', '$13.18M', 'After he becomes a quadriplegic from a paragliding accident, an aristocrat hires a young man from the projects to be his caregiver.')
(38, 'The Prestige', '2006', 130, 8.5, '66', '1,243,046', '$53.09M', 'After a tragic accident, two stage magicians engage in a battle to create the ultimate illusion while sacrificing everything they have to outwit each other.')
(39, 'The Departed', '2006', 151, 8.5, '85', '1,238,944', '$132.38M', 'A crime action film about an undercover cop and a mole in the police attempting to identify each other while infiltrating an Irish gang in South Boston.')
(40, 'The Pianist', '2002', 150, 8.5, '85', '769,131', '$32.57M', 'A Polish Jewish musician struggles to survive the destruction of the Warsaw ghetto of World War II.')
(41, 'Gladiator', '2000', 155, 8.5, '67', '1,396,606', '$187.71M', 'A former Roman General sets out to exact vengeance against the corrupt emperor who murdered his family and sent him into slavery.')
(42, 'American History X', '1998', 119, 8.5, '62', '1,066,216', '$6.72M', 'A former neo-nazi skinhead tries to prevent his younger brother from going down the same wrong path that he did.')
(43, 'The Usual Suspects', '1995', 106, 8.5, '77', '1,027,529', '$23.34M', 'A sole survivor tells of the twisty events leading up to a horrific gun battle on a boat, which began when five criminals met at a seemingly random police lineup.')
(44, 'Léon: The Professional', '1994', 110, 8.5, '64', '1,079,848', '$19.50M', "Mathilda, a 12-year-old girl, is reluctantly taken in by Léon, a professional assassin, after her family is murdered. An unusual relationship forms as she becomes his protégée and learns the assassin's trade.")
(45, 'The Lion King', '1994', 88, 8.5, '88', '982,201', '$422.78M', 'Lion prince Simba and his father are targeted by his bitter uncle, who wants to ascend the throne himself.')
(46, 'Terminator 2: Judgment Day', '1991', 137, 8.5, '75', '1,032,389', '$204.84M', 'A cyborg, identical to the one who failed to kill Sarah Connor, must now protect her ten year old son, John Connor, from a more advanced and powerful cyborg.')
(47, 'Cinema Paradiso', '1988', 155, 8.5, '80', '244,920', '$11.99M', "A filmmaker recalls his childhood when falling in love with the pictures at the cinema of his home village and forms a deep friendship with the cinema's projectionist.")
(48, 'Grave of the Fireflies', '1988', 89, 8.5, '94', '252,088', '*****', 'A young boy and his little sister struggle to survive in Japan during World War II.')
(49, 'Back to the Future', '1985', 116, 8.5, '87', '1,111,097', '$210.61M', 'Marty McFly, a 17-year-old high school student, is accidentally sent thirty years into the past in a time-traveling DeLorean invented by his close friend, the eccentric scientist Doc Brown.')
(50, 'Once Upon a Time in the West', '1968', 165, 8.5, '80', '313,977', '$5.32M', 'A mysterious stranger with a harmonica joins forces with a notorious desperado to protect a beautiful widow from a ruthless assassin working for the railroad.')
(51, 'Psycho', '1960', 109, 8.5, '97', '629,494', '$32.00M', "A Phoenix secretary embezzles $40,000 from her employer's client, goes on the run, and checks into a remote motel run by a young man under the domination of his mother.")
(52, 'Pather Panchali', '1955', 125, 8.5, '#####', '28,310', '$0.54M', 'Impoverished priest Harihar Ray, dreaming of a better life for himself and his family, leaves his rural Bengal village in search of work.')
(53, 'Rear Window', '1954', 112, 8.5, '100', '464,555', '$36.76M', 'A wheelchair-bound photographer spies on his neighbors from his apartment window and becomes convinced one of them has committed murder.')
(54, 'Casablanca', '1942', 102, 8.5, '100', '542,195', '$1.02M', 'A cynical expatriate American cafe owner struggles to decide whether or not to help his former lover and her fugitive husband escape the Nazis in French Morocco.')
(55, 'Modern Times', '1936', 87, 8.5, '96', '228,337', '$0.16M', 'The Tramp struggles to live in modern industrial society with the help of a young homeless woman.')
(56, 'City Lights', '1931', 87, 8.5, '99', '175,684', '$0.02M', 'With the aid of a wealthy erratic tippler, a dewy-eyed tramp who has fallen in love with a sightless flower girl accumulates money to be able to help her medically.')
(57, 'Hamilton', '2020', 160, 8.4, '90', '73,148', '*****', "The real life of one of America's foremost founding fathers and first Secretary of the Treasury, Alexander Hamilton. Captured live on Broadway from the Richard Rodgers Theater with the original Broadway cast.")
(58, 'Capharnaüm', '2018', 126, 8.4, '75', '74,864', '$1.66M', 'While serving a five-year sentence for a violent crime, a 12-year-old boy sues his parents for neglect.')
(59, 'Joker', '2019', 122, 8.4, '59', '1,063,243', '$335.45M', 'In Gotham City, mentally troubled comedian Arthur Fleck is disregarded and mistreated by society. He then embarks on a downward spiral of revolution and bloody crime. This path brings him face-to-face with his alter-ego: the Joker.')
(60, 'Ayla: The Daughter of War', '2017', 125, 8.4, '#####', '36,963', '*****', 'In 1950, amid-st the ravages of the Korean War, Sergeant Süleyman stumbles upon a half-frozen little girl, with no parents and no help in sight. Frantic, scared and on the verge of death, ...                See full summary\xa0»')
(61, 'Your Name.', '2016', 106, 8.4, '79', '223,781', '$5.02M', 'Two strangers find themselves linked in a bizarre way. When a connection forms, will distance be the only thing to keep them apart?')
(62, 'Dangal', '2016', 161, 8.4, '#####', '170,955', '$12.39M', 'Former wrestler Mahavir Singh Phogat and his two wrestler daughters struggle towards glory at the Commonwealth Games in the face of societal oppression.')
(63, 'Spider-Man: Into the Spider-Verse', '2018', 117, 8.4, '87', '425,458', '$190.24M', 'Teen Miles Morales becomes the Spider-Man of his universe, and must join with five spider-powered individuals from other dimensions to stop a threat for all realities.')
(64, 'Avengers: Endgame', '2019', 181, 8.4, '78', '935,344', '$858.37M', "After the devastating events of Avengers: Infinity War (2018), the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to reverse Thanos' actions and restore balance to the universe.")
(65, 'Avengers: Infinity War', '2018', 149, 8.4, '68', '921,335', '$678.82M', 'The Avengers and their allies must be willing to sacrifice all in an attempt to defeat the powerful Thanos before his blitz of devastation and ruin puts an end to the universe.')
(66, 'Coco', 'I 2017', 105, 8.4, '81', '430,352', '$209.73M', "Aspiring musician Miguel, confronted with his family's ancestral ban on music, enters the Land of the Dead to find his great-great-grandfather, a legendary singer.")
(67, 'Django Unchained', '2012', 165, 8.4, '81', '1,424,157', '$162.81M', 'With the help of a German bounty-hunter, a freed slave sets out to rescue his wife from a brutal plantation-owner in Mississippi.')
(68, 'The Dark Knight Rises', '2012', 164, 8.4, '78', '1,575,775', '$448.14M', "Eight years after the Joker's reign of anarchy, Batman, with the help of the enigmatic Catwoman, is forced from his exile to save Gotham City from the brutal guerrilla terrorist Bane.")
(69, '3 Idiots', '2009', 170, 8.4, '67', '367,126', '$6.53M', 'Two friends are searching for their long lost companion. They revisit their college days and recall the memories of their friend who inspired them to think differently, even as the rest of the world called them "idiots".')
(70, 'Like Stars on Earth', '2007', 165, 8.4, '#####', '180,396', '$1.22M', 'An eight-year-old boy is thought to be a lazy trouble-maker, until the new art teacher has the patience and compassion to discover the real problem behind his struggles in school.')
(71, 'WALL·E', '2008', 98, 8.4, '95', '1,041,157', '$223.81M', 'In the distant future, a small waste-collecting robot inadvertently embarks on a space journey that will ultimately decide the fate of mankind.')
(72, 'The Lives of Others', '2006', 137, 8.4, '89', '372,247', '$11.29M', 'In 1984 East Berlin, an agent of the secret police, conducting surveillance on a writer and his lover, finds himself becoming increasingly absorbed by their lives.')
(73, 'Oldboy', '2003', 120, 8.4, '77', '539,836', '$0.71M', 'After being kidnapped and imprisoned for fifteen years, Oh Dae-Su is released, only to find that he must find his captor in five days.')
(74, 'Memento', '2000', 113, 8.4, '80', '1,167,749', '$25.54M', "A man with short-term memory loss attempts to track down his wife's murderer.")
(75, 'Princess Mononoke', '1997', 134, 8.4, '76', '364,135', '$2.38M', "On a journey to find the cure for a Tatarigami's curse, Ashitaka finds himself in the middle of a war between the forest gods and Tatara, a mining colony. In this quest he also meets San, the Mononoke Hime.")
(76, 'Once Upon a Time in America', '1984', 229, 8.4, '75', '327,706', '$5.32M', 'A former Prohibition-era Jewish gangster returns to the Lower East Side of Manhattan over thirty years later, where he once again must confront the ghosts and regrets of his old life.')
(77, 'Indiana Jones and the Raiders of the Lost Ark', '1981', 115, 8.4, '85', '915,918', '$248.16M', "In 1936, archaeologist and adventurer Indiana Jones is hired by the U.S. government to find the Ark of the Covenant before Adolf Hitler's Nazis can obtain its awesome powers.")
(78, 'The Shining', '1980', 146, 8.4, '66', '940,643', '$44.02M', 'A family heads to an isolated hotel for the winter where a sinister presence influences the father into violence, while his psychic son sees horrific forebodings from both past and future.')
(79, 'Apocalypse Now', '1979', 147, 8.4, '94', '628,993', '$83.47M', 'A U.S. Army officer serving in Vietnam is tasked with assassinating a renegade Special Forces Colonel who sees himself as a god.')
(80, 'Alien', '1979', 117, 8.4, '89', '821,940', '$78.90M', 'After a space merchant vessel receives an unknown transmission as a distress call, one of the crew is attacked by a mysterious life form and they soon realize that its life cycle has merely begun.')
(81, 'High and Low', '1963', 143, 8.4, '#####', '39,436', '*****', "An executive of a shoe company becomes a victim of extortion when his chauffeur's son is kidnapped and held for ransom.")
(82, 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb', '1964', 95, 8.4, '97', '467,115', '$0.28M', 'An insane general triggers a path to nuclear holocaust that a War Room full of politicians and generals frantically tries to stop.')
(83, 'Witness for the Prosecution', '1957', 116, 8.4, '#####', '116,127', '$8.18M', 'A veteran British barrister must defend his client in a murder trial that has surprise after surprise.')
(84, 'Paths of Glory', '1957', 88, 8.4, '90', '186,853', '*****', 'After refusing to attack an enemy position, a general accuses the soldiers of cowardice and their commanding officer must defend them.')

In [82]:
c.execute('''SELECT * FROM movies limit 5''')

In [83]:
for row in c.fetchall():
  print(row)

(0, 'The Shawshank Redemption', '1994', 142, 9.3, '80', '2,459,710', '$28.34M', 'Two imprisoned men bond over a number of years, finding solace and eventual redemption through acts of common decency.')
(1, 'The Godfather', '1972', 175, 9.2, '100', '1,701,585', '$134.97M', "An organized crime dynasty's aging patriarch transfers control of his clandestine empire to his reluctant son.")
(2, 'Soorarai Pottru', '2020', 153, 9.1, '#####', '89,663', '*****', 'Nedumaaran Rajangam "Maara" sets out to make the common man fly and in the process takes on the world\'s most capital intensive industry and several enemies who stand in his way.')
(3, 'The Dark Knight', '2008', 152, 9.0, '84', '2,415,236', '$534.86M', 'When the menace known as the Joker wreaks havoc and chaos on the people of Gotham, Batman must accept one of the greatest psychological and physical tests of his ability to fight injustice.')
(4, 'The Godfather: Part II', '1974', 202, 9.0, '90', '1,181,867', '$57.30M', 'The early life and career of Vito Corleone in 1920s New York City is portrayed, while his son, Michael, expands and tightens his grip on the family crime syndicate.')